import pymysql

select_date = {'calldate':0,
                'answered >=40 <=80':1,
                'answered >80':2
                'answered >=15 <40':3
                'NO ANSWER':4
                'BUSY':5
                'FAILED':7
                'answered <15':8
                }

db_info = {
    'host': '',
    'user': '',
    'password': '',
    'db': '',
    'charset': 'utf8',
    'cursorclass': pymysql.cursors.DictCursor,
}

