import pymysql

select_date = {'calldate':5,
                'answered >=40 <=80':6,
                'answered >80':7,
                'answered >=15 <40':8,
                'NO ANSWER':9,
                'BUSY':10,
                'FAILED':12,
                'answered <15':13,
                }

db_info = {
    'host': '',
    'user': '',
    'password': '',
    'db': '',
    'charset': 'utf8',
    'cursorclass': pymysql.cursors.DictCursor,
}

